name: Deploy to Windows

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        clean: true

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Stop and Delete Service
      run: |
        if (Get-Service -Name "${{ vars.SERVICE_NAME }}" -ErrorAction SilentlyContinue) {
          Stop-Service -Name "${{ vars.SERVICE_NAME }}" -Force
          sc.exe delete "${{ vars.SERVICE_NAME }}"
        }
      shell: pwsh

    - name: Clean appsettings.json
      run: |
        $appSettingsPath = Join-Path "${{ vars.PUBLISH_PATH }}" "appsettings.json"
        if (Test-Path -Path $appSettingsPath) {
          Remove-Item -Path $appSettingsPath -Force
        }
      shell: pwsh

    - name: Publish Project
      run: |
        dotnet publish -c Release -o "${{ vars.PUBLISH_PATH }}"
        
        $filePath = "${{ vars.PUBLISH_PATH }}\appsettings.json"
        $content = Get-Content $filePath -Raw -Encoding UTF8
        $newContent = $content `
          -replace '__TOKEN_BOT__', '${{ secrets.DISCORD_TOKEN }}' `
          -replace '__STATUS_BOT__', '${{ vars.DISCORD_STATUS }}'
        Set-Content -Path $filePath -Value $newContent -Encoding UTF8
      shell: pwsh 

    - name: Install Service
      run: |
        $serviceName = "${{ vars.SERVICE_NAME }}"
        $fullExePath = Join-Path "${{ vars.PUBLISH_PATH }}" "${{ vars.EXE_NAME }}"
        sc.exe create "$serviceName" binPath= "$fullExePath"
        
      shell: pwsh

    - name: Start Service
      run: |
        Start-Service -Name "${{ vars.SERVICE_NAME }}"
      shell: pwsh